@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 96%;
}

.navbar {
  border-bottom: 1px solid #D4D4D4;
}

.navbar__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__search {
  margin-left: 34px;
}

.navbar__input {
  background: url(../img/hero/navbar/navbar-img/navbar-icons/search.svg) center left no-repeat;
  padding-left: 38px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #A5A5A5;
  cursor: pointer;
}

.navbar__menu {
  padding: 5px 0;
  background-color: #ffffff;
  border: none;
}

.navbar__line {
  display: block;
  height: 2px;
  background-color: #000000;
  width: 16px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 40px;
}

.navbar__main {
  margin-right: 44px;
  margin-left: auto;
}

.navbar__link {
  position: relative;
  color: #363636;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-right: 18px;
}

.navbar__link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.navbar__link:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar__button {
  padding: 42px 50px;
  background-color: #5671F6;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.navbar__button-o {
  background-color: transparent;
  color: #5671F6;
  border-left: 1px solid #D4D4D4;
  padding: 42px 34px;
}

.navbar__logo {
  padding: 40px 35px;
  border-right: 1px solid #D4D4D4;
}

.hero__row {
  border-bottom: 1px solid #D4D4D4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
}

.hero__trailer {
  margin-right: 60px;
}

.hero__button {
  background-color: transparent;
  color: #5671F6;
  border: 1px solid #D4D4D4;
  border-top: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding: 24px 80px;
  border-radius: 0px 0px 6px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__button-icon {
  margin-right: 11px;
}

.hero__poster-img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 354px;
}

.hero__title {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #363636;
  margin-bottom: 16px;
  margin-top: 0;
}

.hero__subtitle {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
  margin-bottom: 32px;
}

.hero__descr {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 50px;
  max-width: 514px;
}

.hero__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 37px;
}

.hero__info-left {
  margin-right: 40px;
}

.hero__info-bold {
  width: 100px;
  display: inline-block;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
  margin-right: 13px;
  vertical-align: top;
}

.hero__info-span {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.hero__info-director, .hero__info-scenario, .hero__info-actor, .hero__info-budget, .hero__info-rental, .hero__info-premiere {
  display: block;
  margin-bottom: 16px;
}

.hero__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__counter {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #5671F6;
  padding: 34px 24px;
  border: 1px solid #5671F6;
  border-radius: 10px;
  margin-right: 28px;
}

.hero__viewers-rate {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
  margin: 7px 0;
  margin-top: 0;
}

.hero__average {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
  margin-bottom: 7px;
}

.hero__vote {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.actors__row {
  padding: 70px 0;
}

.actors__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.actors__title:not(:last-child) {
  margin-right: 30px;
}

.actors__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #363636;
}

.actors__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.actors__image {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 21px;
}

.actors__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actors__name {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #5671F6;
  margin-bottom: 6px;
  margin-top: 0;
}

.actors__en-name {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #a5a5a5;
}

.news {
  padding: 70px 0px 100px 0px;
  background-color: #F3F3F3;
}

.news__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__card {
  background-color: #ffffff;
  height: 160px;
  padding: 30px;
  width: 260px;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  border-radius: 5px;
}

.news__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #363636;
  margin-bottom: 65px;
}

.news__date {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 14px;
}

.news__preview {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .actors__image {
    width: 70px;
    height: 70px;
  }
  .navbar__search {
    margin-left: 20px;
  }
  .navbar__button {
    padding: 42px;
    font-size: 16px;
  }
  .navbar__button-o {
    padding: 42px 20px;
  }
  .navbar__link {
    margin-right: 10px;
    font-size: 16px;
  }
  .navbar__input {
    font-size: 16px;
  }
  .navbar__main {
    margin-right: 15px;
  }
  .navbar__logo {
    padding: 40px 20px;
  }
  .news__card {
    -ms-flex-preferred-size: 22%;
        flex-basis: 22%;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
  .navbar__main {
    display: none;
  }
  .navbar__search {
    margin-right: auto;
  }
  .hero__title {
    font-size: 26px;
    line-height: 30px;
  }
  .hero__subtitle {
    margin-bottom: 18px;
  }
  .hero__descr {
    margin-bottom: 25px;
  }
  .hero__info {
    margin-bottom: 20px;
  }
  .hero__info-bold {
    display: block;
    margin-bottom: 6px;
  }
  .actors__image {
    width: 100px;
    height: 100px;
  }
  .actors__card {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .news__card {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .hero__row {
    padding: 50px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hero__text {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 30px;
  }
  .actors__row {
    padding: 50px;
  }
  .actors__tabs {
    margin-bottom: 40px;
  }
  .news {
    padding: 50px 0px 70px 0px;
  }
  .news__title {
    margin-bottom: 50px;
  }
}
/*# sourceMappingURL=style.css.map */